/* Base styles */
body {
    font-family: Arial, sans-serif, "Helvetica Neue", Helvetica;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    font-size: 16px;
}

/* Navigation styles */
nav {
    background-color: #333;
    color: #fff;
    padding: 20px 20px; /* Updated padding for better spacing */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block; /* Changed from inline to inline-block for better control */
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold; /* Make text bold for better readability */
    transition: color 0.3s; /* Smooth transition for hover effect */
}

nav a:hover {
    color: #ffb400; /* Add a hover effect to navigation links */
}

/* Content styles */
.container {
    margin: 20px;
    padding: 10px;
    background-color: var(--container-background);
    border-radius: 5px;
    box-shadow: 0 0 5px var(--container-shadow);
}

/* Link styles */
a {
    text-decoration: none;
    color: var(--link-color);
}

/* Simple additional styles for refinement */

/* Center iframe on the page */
iframe {
    display: block; /* Ensures that iframe is treated as a block-level element */
    margin: 20px auto; /* Adds margin to the top and bottom, and sets left and right margins to auto */
    width: 560px; /* Specifies a width for the iframe */
    height: 315px; /* Specifies a height for the iframe */
    border: 0; /* Optional: Removes the border */
}

/* Slight improvements to paragraph styles for aesthetics */
p {
    color: #333; /* Slightly darker text for better contrast */
    line-height: 1.5; /* Comfortable line height for reading */
    margin-top: 20px; /* Add space above paragraphs */
}

h1 {
    font-family: 'Friday Night Funkin Regular';
    src: url('fonts/friday-night-funkin.regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    text-shadow: 2px 2px 4px #000000; /* This adds a black shadow to the text */
    color: #990000; /* Placeholder for Mourne red */
}

/* Underline links on hover for better user interaction */
a:hover {
    text-decoration: underline; /* Underline links on hover */
}
