/* media.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

/* Set the navigation bar to match the size of the index.css */
nav {
    background-color: #333;
    color: #fff;
    padding: 20px; /* Add padding to match the size */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

img {
    width: 200px; /* This will set the width of all images to 200 pixels */
    max-height: 150px; /* This will set the maximum height */
    height: auto; /* This will maintain the aspect ratio */
    display: block;
    margin: 0 auto;
}
